/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


/**
 * Другие стили
 */
 .div{
	opacity: 0;
	position:fixed ;
 }
 .head {
	width:100%;
	height:20px;
	background-color: #d8d8d8;
 }
 .navbar{
    width:100%;
    height:70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
	background-color: #f5f5f5;
}
.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-menu li {
	display: inline-block;
}
.navbar-menu li a {
	display: inline-block;
	color:#000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;

}
.navbar-menu li a:hover{
	opacity: 1;
	transition: all .07s ease-in-out;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.navbar-brand {
	font-weight: 700;
	font-size: 25px;
	text-decoration: none;
	color: #000;
}
.subtitle {
	width:100%;
	height: 170px;
	background-color: #efefef;
}
.subtitle .container {
	height: inherit;
	justify-content: space-between;
	align-items: center;
	padding: 55px;
}
.topic {
	width:100%;
	height: 50px;
	background-color: #b2b2b2;
}
.topic .container {
	height: inherit;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	overflow: hidden;
	text-align: center;
}
.themes li {
	align-items: center;
	text-align: center ;
	
	display: inline-block;
	color:#000;
	text-decoration: none;
	background-color: #f5f5f5;
	width: 120px;
	padding: 15px;
	border-radius: 20px;
	height: 15px;
}
.line {
	position: relative;
	text-align: center;
}
svg {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width:100%;
}

.b {
	opacity: 0;
}
.modal {
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(51, 51, 51, 0.5);
	display: flex;
	align-items: right;
	justify-content: right;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.modal:target{
	opacity: 1;
	visibility: visible;
}
.modal:target .modal-window {
	opacity: 1;
	transform: translate(0px, 0px);
}
.modal .overlay {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	
}

.modal-window {
	position: relative;
	width: 845px;
	background-color: #fff;
	transition: all 0.5s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);

}
.btn-close {
	position: absolute;
	right: 20px;
	top: 20px;
	border:none;
	background: none;
	color:#000;
	opacity: 0.6;
	text-decoration: none;
}
.btn-close:hover {
	border:none;
	background: none;
	opacity: 1;
	transition: all .07s ease-in-out;
}